# 二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
parchment-server

# 开发工具相关
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志文件
*.log
logs/

# 依赖管理
/vendor/
/go.sum

# 配置文件、环境变量等（视情况而定）
# *.env
# config.local.yaml

# 临时目录
/tmp/
/temp/

# Swagger相关
# docs/swagger.json
# docs/swagger.yaml
# docs/docs.go

# 编译生成的文件
debug
__debug_bin 